html, body {
	height: 100%;
	margin: 0;
	font-size: 16px;
}

h3 {
	font-size: 1.5rem;
	margin: 0;
	text-transform: capitalize;
	font-weight: normal;
}

.homePage {
	display: flex;
	flex-direction: row;
}

.sideMenu {
	flex: 0 1 200px;
	background: #FF163E;
	color: #fff;

	.sideMenu_header {
		padding: 20px;
		color: #fff;
		margin-bottom: 20px;

		.sideMenu_onlineTime {
			font-size: 0.8rem;
		}
	}

	.sideMenu_link {
		padding: 15px 20px;

		a {
			color: #fff;
			text-decoration: none;
			width: 100%;
    		display: block;
		}

		&:hover {
			background-color: #DA260D;
		}
	}

	.sideMenu_link_active {
		background-color: #DA260D;
	}
}

.loginPage {
	font-size: 16px;
	min-width: 300px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */

    .loginPage_inputContainer {
    	margin-bottom: 20px;
    }

    .loginPage_input {
    	background-color: #fff;
		border: 1px solid #CCC;
		border-radius: 3px;
		box-sizing: border-box;
		color: #333;
		outline: none;
		padding: 8px 12px;
		width: 100%;
		line-height: 24px;
		font-size: 1rem;
    }

	.loginPage_button {
		width: 100%;
		font-weight: 500;
	    display: block;
	    padding: 0 30px;
	    position: relative;
	    text-align: center;
	    height: 42px;
	    line-height: 42px;
	    border-radius: 4px;
	    outline: none;
	    background: #FF163E;
	    border: none;
	    color: #fff;
	    font-size: 1rem;
	    cursor: pointer;

	    &:hover {
	    	background-color: #DA260D;
	    }
	}
}

.chatWindow {
	flex: 1 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;

	.chatWindow_header {
		border-bottom: 2px solid #ddd;
		text-align: center;
		padding: 15px;

		.chatWindow_nameList {
			margin-top: 10px;
			text-transform: capitalize;
		}

		.chatWindow_currentUserName {
			color: #FF163E;
		}		
	}

	.chatWindow_body {
		flex: 1;
		background-color: #eee;
		display: flex;
		flex-direction: column;
		padding: 10px;

		.chatWindow_messageContainer {
			margin-bottom: 10px;
		}

		.chatWindow_message {
			padding: 10px 20px;
			border-radius: 20px;
			max-width: 45%;
			background-color: #fff;
			margin-bottom: 5px;
			min-width: 50px;
		}

		.charWindow_message_self {
			align-self: flex-end;
			color: #fff;

			.chatWindow_message {
				background-color: #FF163E;
			}
		}
	}

	.chatWindow_bottom {
		border-top: 2px solid #ddd;
		padding: 15px;
		bottom: 0;
		display: flex;
		flex-direction: row;
		order: 1;

		.chatWindow_bottom_inputContainer {
			flex-grow: 1;

			input {
				background-color: #fff;
				border: 1px solid #CCC;
				border-radius: 3px;
				box-sizing: border-box;
				color: #333;
				outline: none;
				padding: 8px 12px;
				width: 100%;
				line-height: 24px;
				font-size: 1rem;
			}
		}

		.chatWindow_bottom_button {
			font-size: 1.5rem;
			color: #0084bf;
			border: none;
			cursor: pointer;
		}
	}
}

